.box1{
    background-color:orange;
    height: 120px;
}

.box2{
    background-color:rgba(255, 68, 0, 0.891);
    height: 60px
}

.redes{

    font-size: 60px !important;
    color:red;
}

.textos{
    color: white;
}