.caixa{
    background-color:lightgreen;
}

.titulo{
    color: black !important; 
    font-weight: bold !important;
}

.botao{
    border-color:yellow !important;
    background-color:yellow;
    color:black !important; 
}

.postagens{
    background-color: yellow; 
}

.text-decorator-none{
    text-decoration: none;
}