.caixa{
    background-color: #3f51b5;
}
.titulo{
    color: white !important;
    font-weight: bold !important; 
}
.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}
.postagens{
    background-color: white;
}


/* .fonte{
    color:tomato;
    font-size: 50px;
}

.fundo1{
    background-image: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/87AD7A6AF5DC6E6D150BF0DDC016CB027F5663A28BE5208CEF575BC9F831A36D/scale?width=1440&aspectRatio=1.78&format=jpeg); 
}
.fundo{
    background-color: cornflowerblue;
} */